body {
  background-color: #f4f4f4; 
}

.App {
  margin-top: 30px;
}

.center-stepper {
  text-align: center;
}

.stepper-container {
  width: 70%;
  margin: auto;
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stepper-step {
  width: calc(25% - 12px); 
}

.step-label {
  font-size: 14px;
}

.form-container {
  margin-top: 20px;
}


